@import url('https://fonts.googleapis.com/css2?family=Sawarabi+Mincho&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@500&display=swap');
body{
    background-color:rgb(88, 176, 253);
    display: grid;
      place-items: center; 
      height: 100vh;
      overflow: hidden;
}
.container{
    width: 32%;
    background-color: white;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 65vh;
    flex-direction: column;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    
}
.calculator {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    width: 450px;
  }
  input {
    grid-column: 1 / span 3;
    padding: 20px;
    width: 88%;
    margin-top:0px;
    border-radius: 10px;
    background-color: rgb(173, 217, 255);
    cursor:text;
    border: none;
    font-size: xx-large;
    font-family: 'Sawarabi Mincho', serif;
    color: black;
    text-align: right;
  }
  button {
    padding: 10px;
    background-color: rgb(173, 217, 255);
    border-radius: 10px;
    border: none;
    cursor: pointer;
    font-size:x-large;
    font-family: 'Sawarabi Mincho', serif;
  }
  button:hover {
    transform: scale(1.1);
}
h1{
    font-family: 'Orbitron', sans-serif;
    letter-spacing: 2px;
}